<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kubb interface</title>
    <style>
        .kubb-veld {
            width: 750px;
            height: 600px;
            border: 2px solid black;
            position: absolute;
			left: 265px;
            background-color: green;
        }
        .line {
            position: absolute;
            width: 100%;
            height: 0px;
            background-color: white;
        }
		.title{
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 45px;
		}
    </style>
</head>
<body>
	<div class="title">eKubb</div>
    <div class="kubb-veld">
        <div class="line" style="top: 0%;"></div>
        <div class="line" style="left: 0%; width: 0px; height: 100%;"></div>
        <div class="line" style="bottom;"></div>
        <div class="line" style="right: 0%; width: 0px; height: 100%;"></div>
    </div>
</body>
</html>

